.section-hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 175px;
  padding-bottom: 336px;
  width: 1920px;

  background-color: aquamarine;
  background-image: url(../image/bg.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../../image/bg@2x.jpg)
  }
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;

  width: 440px;

  font-family: $--font-title;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.1;

  color: $--accent-color;
}

.hero-description {
  margin: 0;
  margin-bottom: 55px;

  width: 420px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.hero-btn {
  @extend %btn;
}
