$--primary-text-color: #424242;
$--secondary-text-color: #484848;
$--title-color: #000000;
$--secondary-title-color: #ffffff;
$--font-title: "Merriweather";
$--accent-color: #01996d;
$--bg-color: #e5e5e5;
$--footer-color: #245852;
